extends layout 

block content 
  h1(class='container-fluid p-5 bg-info text-success text-center')= title 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let id = toShow._id 
    - let Shoe_Name = toShow.Shoe_Name 
    - let Shoe_Company = toShow.Shoe_Company 
    - let Shoe_Size = toShow.Shoe_Size 
    - let Shoe_Rating = toShow.Shoe_Rating 
    - let actionid = "/resource/shoes/" + id 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class=' bg-primary shoeAttr mr-3') Shoe ID is: 
        div #{id} 
      div.row 
        div(class='bg-warning shoeAttr mr-3') Shoe Name is: 
        div #{Shoe_Name} 
      div.row 
        div(class='shoeAttr mr-3') Shoe Company  is: 
        div #{Shoe_Company} 
      div.row 
        div(class='shoeAttr mr-3') Shoe Size is: 
        div #{Shoe_Size}
      div.row 
        div(class='shoeAttr mr-3') Shoe Rating is: 
        div #{Shoe_Rating}  
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
  script. 
    function cancel() { 
      // Go back to the home page for the shoe collection 
      window.location.href='/shoe' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/shoe' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }